In [3]:
import pandas as pd
df=pd.read_excel("weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

***adding data using list of tuples***

In [8]:
weather_data = [
    ('1/1/2017',32,6,'Fog'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df=pd.DataFrame(data=weather_data,columns=['day','temperature','windspeed','event',])
#df=pd.DataFrame(data=weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6    Fog
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

***Adding data using list of dictionaries***

In [20]:
weather_data=[
    {'Day': '1/1/2017', 'Temperature':32,'Windspeed':6,'Event':'Rain'},
    {'Day': '1/2/2017', 'Temperature':35,'Windspeed':7,'Event':'Sunny'},
    {'Day': '1/3/2017', 'Temperature':28,'Windspeed':2,'Event':'Snow'}
    
]
df=pd.DataFrame(data=weather_data,columns=['Day','Temperature','Windspeed','Event']) 
df

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

***data with index***

In [21]:
df.to_csv('New.csv')

In [22]:
df

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

***data without index***

In [24]:
df.to_csv('New.csv',index=False)

***importing with xlsx extension without index***

In [27]:
df.to_excel('New.xlsx',sheet_name=('Weather'),index=False)

***change the starting row and columns***

In [29]:
df.to_excel('New.xlsx',sheet_name=('Weather'),index=False,startrow=2,startcol=1)