In [9]:
import pandas as pd 
import numpy as np
df=pd.read_csv("weather_data.csv")
df
a=df['temperature'][3]
type(a) #to check type of a specific cell

numpy.float64

***Replacing a value with NaN***

In [10]:
new_df=df.replace(-9999,value=np.NaN)
new_df

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-02-2017          NaN        7.0     Sunny
2  01-03-2017         28.0    -8888.0      Snow
3  01-04-2017          NaN        7.0       NaN
4  01-05-2017         32.0        NaN      Rain
5  01-06-2017         31.0        2.0     Sunny
6  01-06-2017         34.0        5.0  no event

In [12]:
new_df=df.replace(to_replace=[-9999,-8888,np.NaN],value=0)
new_df

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-02-2017          0.0        7.0     Sunny
2  01-03-2017         28.0        0.0      Snow
3  01-04-2017          0.0        7.0         0
4  01-05-2017         32.0        0.0      Rain
5  01-06-2017         31.0        2.0     Sunny
6  01-06-2017         34.0        5.0  no event

***replacing per column***

In [13]:
new_df=df.replace({
    'temperature':[-9999,32],
    'windspeed':-8888,
    'event':'no event'
},np.nan)
new_df

          day  temperature  windspeed  event
0  01-01-2017          NaN        6.0   Rain
1  01-02-2017          NaN        7.0  Sunny
2  01-03-2017         28.0        NaN   Snow
3  01-04-2017          NaN        7.0    NaN
4  01-05-2017          NaN        NaN   Rain
5  01-06-2017         31.0        2.0  Sunny
6  01-06-2017         34.0        5.0    NaN

***replacing using mapping***

In [14]:
new_df = df.replace({
    -9999:np.nan,
    'no event':'Sunny',
})
new_df

          day  temperature  windspeed  event
0  01-01-2017         32.0        6.0   Rain
1  01-02-2017          NaN        7.0  Sunny
2  01-03-2017         28.0    -8888.0   Snow
3  01-04-2017          NaN        7.0    NaN
4  01-05-2017         32.0        NaN   Rain
5  01-06-2017         31.0        2.0  Sunny
6  01-06-2017         34.0        5.0  Sunny

In [15]:
df=pd.read_csv("weather_data.csv")
df

          day temperature windspeed     event
0  01-01-2017         32c      6mph      Rain
1  01-02-2017         NaN         7     Sunny
2  01-03-2017          28     -8888      Snow
3  01-04-2017       -9999         7       NaN
4  01-05-2017          32       NaN      Rain
5  01-06-2017          31         2     Sunny
6  01-06-2017         34c      5MPH  no event

***REGEX***

In [ ]:
new_df = df.replace({'temperature':'[A-Za-z]'),
                     'windspeed':'[A-Za-z]'},'',regex=true