In [3]:
import pandas as pd 
weather_data={
    'Day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'Temperature' : [32,35,28,24,32,31],
    'Wndspeed' : [6,7,2,7,4,2],
    'Event': ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

df=pd.DataFrame(weather_data) 
df 

#df = pd.read_csv('weather_data.csv',low_memory=False)
#df

        Day  Event  Temperature  Wndspeed
0  1/1/2017   Rain           32         6
1  1/2/2017  Sunny           35         7
2  1/3/2017   Snow           28         2
3  1/4/2017   Snow           24         7
4  1/5/2017   Rain           32         4
5  1/6/2017  Sunny           31         2

In [5]:
a=df.shape
print(type(a))
print(a)
rows,columns = df.shape
print(rows)

<class 'tuple'>
(6, 4)
6

In [10]:
df.head(1)

        Day Event  Temperature  Wndspeed
0  1/1/2017  Rain           32         6

In [12]:
df.tail(1)

        Day  Event  Temperature  Wndspeed
5  1/6/2017  Sunny           31         2

In [13]:
a=df[['Day','Temperature']][-2:-(len(df)+1):-3]
print(type(a))
a

<class 'pandas.core.frame.DataFrame'>

        Day  Temperature
4  1/5/2017           32
1  1/2/2017           35

In [14]:
df.cloumns

AttributeError: 'DataFrame' object has no attribute 'cloumns'

In [15]:
df.columns

Index(['Day', 'Event', 'Temperature', 'Wndspeed'], dtype='object')

In [16]:
a=df[['Day']] #recommended method
#a=df.Day 
print(type(a))
a

<class 'pandas.core.frame.DataFrame'>

        Day
0  1/1/2017
1  1/2/2017
2  1/3/2017
3  1/4/2017
4  1/5/2017
5  1/6/2017